<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">{{accion}} ejercicio</h4>
  <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cierre usuario')"></button>
</div>
<div class="modal-body">
  <div class="form-group">
      <label for="nombre">Nombre:</label>
      <input class="form-control" id="nombre" [(ngModel)]="ejercicio.nombre" placeholder="nombre">
      <label for="descripcion">Descripción:</label>
      <input class="form-control" id="descripcion" [(ngModel)]="ejercicio.descripcion" placeholder="descripción">
      <label for="observaciones">Observaciones:</label>
      <input class="form-control" id="observaciones" [(ngModel)]="ejercicio.observaciones" placeholder="observaciones">
      <label for="tipo">Tipo:</label>
      <input class="form-control" id="tipo" [(ngModel)]="ejercicio.tipo" placeholder="tipo">
      <label for="musculos trabajados">Músculos trabajados:</label>
      <input class="form-control" id="muscuclos trabajados" [(ngModel)]="ejercicio.musculosTrabajados" placeholder="músculos trabajados">
      <label for="material">Material:</label>
      <input class="form-control" id="material" [(ngModel)]="ejercicio.material" placeholder="material">
      <label for="dificultad">Dificultad:</label>
      <input class="form-control" id="dificultad" [(ngModel)]="ejercicio.dificultad" placeholder="dificultad">
      
      <div class="form-group row">
        <div class="col-md-8">
          <label for="multimedia">Contenido multimedia:</label>
          <input class="form-control" id="multimedia" [(ngModel)]="enlaceMultimedia" placeholder="inserte enlaces a contenido multimedia">
        </div>
    
      
        <div class="col-md-3">
          <button class="btn btn-primary mt-4" (click)="agregarMultimedia()">Agregar</button>
        </div>
      </div>
      
      <div class="exercise-list" *ngFor="let multimedia of multimediaSeleccionados; let i = index">
        <div class="exercise-item">
          <p>{{ multimedia}}</p>
          <button class="btn btn-danger btn-sm" (click)="eliminarMultimedia(i)">Eliminar</button>
        </div>
      </div>
      

  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark" (click)="guardarEjercicio()">Guardar</button>
</div>

